<launch>
  <include file="$(find pr2_machine)/$(env ROBOT).machine" />
  <include file="$(find pr2_moveit_config)/launch/planning_context.launch" />
  <include file="$(find kinematics_cache)/launch/kinematics_cache.launch" />
  <include file="$(find humanoid_catching)/launch/l_arm_force_controller.launch" />
  <include file="$(find humanoid_catching)/launch/r_arm_force_controller.launch" />
  <node pkg="humanoid_catching" type="catch_human_action_server" name="catch_human_action" output="screen">
    <param name="urdf" value="$(find humanoid_catching)/models/pr2.urdf" />
  </node>
  <node pkg="humanoid_catching" type="fall_predictor" name="fall_predictor"/>
  <node pkg="humanoid_catching" type="catching_controller" name="catching_controller"/>
  <node pkg="humanoid_catching" type="balancer" name="balancer"/>
  <node pkg="humanoid_catching" type="fall_stats_recorder" name="fall_stats_recorder"/>
</launch>
