<?xml version="1.0"?>
<launch>
  <node pkg="microstrain_3dm_gx3_35" name="imu_3dm_node" type="imu_driver" output="screen">
    <param name="port" value="/dev/ttyACM0"/>
    <param name="rate" value="100.0"/>
    <param name="frame_id" value="/odom_combined" />
    <param name="publish_pose" value="false" />
    <param name="publish_gps" value="false" />
    <param name="publish_gps_as_odom" value="false" />
    <param name="publish_nav_pose" value="false" />
    <param name="publish_nav_odom" value="false" />
    <param name="publish_nav_fix" value="false" />
    <remap from="/imu_3dm_node/imu/data" to="/human/imu" />
  </node>
  <node pkg="humanoid_catching" type="imu_visualizer" name="imu_visualizer" output="screen" >
      <remap from="/in" to="/human/imu" />
  </node>
</launch>
