<launch>
 <!-- send urdf to param server -->
 <param name="human" textfile="$(find humanoid_catching)/models/human.model" />

 <!-- push sdf to factory and spawn human in gazebo -->
 <node name="spawn_human" pkg="gazebo" type="spawn_model" args="-gazebo -param human -model human" respawn="false" output="screen" />
</launch>
